@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Diretor @ViewData["Director"]</p>

<address>
    <strong>More information: <a href="http://google.com.br">Google.com</a></strong>
</address>